# docker compose .env and .containername files built by build.sh
.env
.containername

# output media files
*.mp4
*.mkv
*.jpg
*.jpeg
*.png
*.dot
*.pdf

# sub git projects
sub_projects

# network discovery files
local_network_out.txt

# backup images (upload it somewhere else like box or drive or something)
*.tar.gz